* {
    background-color: #0a192f;
    color: #8892b0;
    font-family: OCR A Std, monospace;
    margin-left: 10px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

h1 {
    color: #ccd6f6;
}

.header {
    display: flex;
    justify-content: flex-end;
}

section {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 30px;
}

h2 {
    margin-right: 15%;
}

img {
    height: 20%;
    width: 30%;
    margin: 20px;
    border-radius: 20px;
}

img:hover {
    box-shadow: 5px 5px 5px 1px lightgray;
    transition: .5s;
}

.work-img {
    margin-bottom: 20%;
}


.contact-info {
    display: flex;
    justify-content: flex-end;
}
